<!-- Meu milesímo component -->
<app-first-component></app-first-component>

<!-- Compartilhamento de Dados -->
<app-parent-data [name]="Username" [age]="Age" [userData]="userData" [status]="userStatus"></app-parent-data>

<!-- App directives -->
<app-directives></app-directives>

<!-- if render -->
<app-if-render></app-if-render>

<!-- eventos -->
<app-eventos></app-eventos>

<!-- emitir eventos -->
<app-emmiter></app-emmiter>

<!-- list-render -->
<app-list-render></app-list-render>

<!-- app  -->
<router-outlet></router-outlet>
