<div class="class">
  <h2 [ngStyle]="{
    'font-size': size + 'px',
    'font-family': font,
    'color': color,
    'text-transform': upper
  }"> Testando directives</h2>

  <h3 [ngStyle]="{'font-size': size + 'px', 'text-transform': upper}">sla</h3>
  <h3 [ngStyle]="{'font-size': size + 'px', 'text-transform': upper}">iae</h3>

  <h2 [ngClass]="classes"> Testando directives de Classe </h2>
  <h2 [ngClass]="classes"> Testando directives de Classe </h2>
  <h2 [ngClass]="classes"> Testando kskk</h2>

  <h2 [ngClass]="underline"> Testando directives Unica</h2>
  <h3 [ngClass]="underline"> Testando kskks</h3>
</div>
